{% extends "base.html" %}
{% load static %}

{% block title %}
  Опросы
{% endblock title %}

{% block header %}
  {% include 'include/header.html' %}
{% endblock header %}

{% block content %}
  <section style="min-height: 80vh;" class="survey-list">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-4">
          <h1>
            Опросы
          </h1>
        </div>
        {% for item in object_list %}
          <div class="col-4 mb-4">
            <a class="survey-link" href="{% url 'survey:detail' pk=item.pk %}">
              <div class="card h-100">
                <div style="position: relative;" class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
                  <p style="display: block; position: absolute; bottom: 2px; right: 5px; opacity: 0.3; font-size: 14px">{{ item.date|date:"d.m.Y" }}</p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content%}
