{% extends 'base.html' %}
{% load static %}

{% block title %}
  Документы
{% endblock title %}

{% block header %}
  {% include 'include/header.html' %}
{% endblock header %}

{% block content %}
  <section class="account">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-3">
          <h1>Документы</h1>
        </div>
        {% if object_list|length == 0 %}
          <div class="col-12 mt-3">
            <h3>Ничего не добавлено</h3>
          </div>
        {% else %}
          {% for item in object_list %}
            <div class="col-12 my-2">
              <a href="{{item.file.url}}" target="_blank">{{item.title}}</a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}
