{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block title %}
  Регистрация
{% endblock title %}

{% block header %}
  {% include 'include/header.html' %}
{% endblock header %}

{% block content %}
<section class="calling-user">
  <div class="container">
    <div class="row">
      <div class="col-12 my-3">
        <h1>Задать вопрос</h1>
      </div>
      <div class="col-12">
        <form action="" method="post" enctype="multipart/form-data" class="d-flex flex-column">
          {% csrf_token %}
          <div class="form-items">
            <div class="row d-flex align-items-center">
              <div class="col-lg-3">
                {{ form.to_whom.label }}
              </div>
              <div class="col-lg-6">
                {% render_field form.to_whom class="form-control"%}
              </div>
              <div class="col-lg-3 register-error">
                {{ form.to_whom.errors}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-items">
            <div class="row d-flex align-items-center">
              <div class="col-lg-3">
                {{ form.text.label }}
              </div>
              <div class="col-lg-6">
                {% render_field form.text class="form-control" %}
              </div>
              <div class="col-lg-3 register-error">
                {{ form.text.errors}}
              </div>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-12 my-4">
              <input
                class="btn w-auto btn main-btn mt-3"
                type="submit"
                value="Отправить"
                />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
