.header-auth {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header-auth__button{
  color: #333;
  text-decoration: none;
}
.header-auth__button:hover{
  color: #000;
}