{% extends 'base.html' %}
{% load static reference %}

{% comment %} {% block title %}
!
{% endblock title %} {% endcomment %}

{% block header %}
  {% include 'include/header.html' %}
{% endblock header %}

{% block content %}
  <div class="index">
    {% comment %} {% include 'components/gallery.html' %} {% endcomment %}
    {% gallery %}
    {% include 'components/basic-information.html' %}
  </div>
{% endblock content %}

{% block footer %}
  {% include 'include/footer.html' %}
{% endblock footer %}

