{% load static reference %}

<section class="basic-information">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          {% basic_information_last_news %}
          <div class="col-4">
            <div>
              {% if user.is_authenticated %}
                <button onclick="location.href='{% url 'users:meter-readings-page' %}'" type="button" class="btn main-btn">Отправить показания счетчиков</button>
            {% endif %}
            </div>
            <div>
              {% if user.is_authenticated %}
                <button onclick="location.href='{% url 'survey:list' %}'" type="button" class="btn main-btn">Опросы</button>
            {% endif %}
            </div>
            <div>
              {% if user.is_authenticated %}
                <button onclick="location.href='{% url 'users:calling-wizard' %}'" type="button" class="btn main-btn">Вызвать мастера</button>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>