{% load static reference %}

<section class="basic-information">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          {% basic_information_last_news %}
          {% if user.is_authenticated %}
          <div class="col-4">
            <div class="btn-group-vertical" role="group" aria-label="Basic example">
              <button onclick="location.href='{% url 'users:meter-readings-page' %}'" type="button" class="btn main-btn">Отправить показания счетчиков</button>
              <button onclick="location.href='{% url 'survey:list' %}'" type="button" class="btn main-btn">Опросы</button>
              <button onclick="location.href='{% url 'users:calling-wizard' %}'" type="button" class="btn main-btn">Вызвать мастера</button>
              <button onclick="location.href='{% url 'users:questions-user' %}'" type="button" class="btn main-btn">Задать вопрос</button>
            </div>
          {% elif not user.is_authenticated %}
              <div class="btn-group-vertical" role="group" aria-label="Basic example">
                <button onclick="location.href='{% url 'users:registration' %}'" type="button" class="btn main-btn w-100">Регистрация</button>
                <button onclick="location.href='{% url 'users:registration' %}'" type="button" class="btn main-btn w-100">Узнать текущие тарифы</button>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>