<section class="contacts my-4">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="row">
          <div class="col-12 mb-5">
            <h2>
              Контакты
            </h2>
          </div>
          <div class="col-6 mb-3">
            <p class="font-weight-bold mb-2">Председатель товарищества</p>
            <p>+ 7 (928) 322-42-11</p>
          </div>
          <div class="col-6 mb-3">
            <p class="font-weight-bold mb-2">Заместитель председателя</p>
            <p>+ 7 (998) 341-48-01</p>
          </div>
          <div class="col-6 mb-3">
            <p class="font-weight-bold mb-2">Главный бухгалтер</p>
            <p>+ 7 (929) 111-32-40</p>
          </div>
          <div class="col-12 mb-3">
            <p class="font-weight-bold mb-2">Адрес</p>
            <p>г. Ростов-на-Дону, ул. Вересаева, 101/3</p>
          </div>
          <div class="col-12 mb-3">
            <p class="font-weight-bold mb-2">E-mail</p>
            <p>moetsj@mail.ru</p>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="contacts-map">
          <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/mikrorayon_krasny_aksay/176177794120/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Микрорайон Красный Аксай</a><a href="https://yandex.ru/maps/39/rostov-na-donu/category/housing_complex/64960171169/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Жилой комплекс в Ростове‑на‑Дону</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUF44VOwA" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
      </div>
    </div>
  </div>
</section>