<section class="intelligence">
  <div class="container">
    <div class="intelligence-box">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="font-weight-bold">Информация о ТСЖ</h2>
        </div>
        <div class="col-10 offset-1 text-center">
          <h4 class="my-3">Уважаемые жители! ТСЖ  приветствует вас на сайте!</h4>
          <p>Данный сайт ТСЖ «Товарищество Собственников Жилья» создан и заполнен в
            соответствии со "Стандартом раскрытия информации организациями, осушествляюшими
            деятельность в сфере управления многоквартирными домами" (в ред. Постановлений Правительства РФ от 10.06.2011 № 459, от 06.02.2012 № 94), согласно которому на сайте
            должна быть раскрыта следующая информация:
            </p>
        </div>
        <div class="col-10 offset-1 mt-4">
          <ul>
            <li>Общая информация о товариществе собственников жилья</li>
            <li>Сведения о тарифах на коммунальные услуги</li>
            <li>Принимать участие в опросах по вопросам деятельности ТСЖ</li>
            <li>Сведения о стоимости работ (услуг) по содержанию и ремонту общего имущества в многоквартирном доме</li>
            <li>Подача заявок на ремонт, жалоб, вопросов</li>
            <li>Подавать через интернет показания индивидуальных приборов учета</li>
            <li>Вызов мастера</li>
          </ul>
        </div>
        <div class="col-12 text-center">
          <a style="color: white" href="{% url 'reference:documents' %}">Документы</a>
        </div>
      </div>
    </div>
  </div>
</section>





