<section class="slider">
  <div class="container">
    <div class="row">
      .wsde Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quos sint repudiandae nisi et at, fugit neque hic molestias aliquam similique soluta placeat nemo ut omnis voluptas aperiam earum nostrum.

      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis dicta fugiat ipsam praesentium aperiam repellat expedita ipsum possimus voluptates quas, ea sequi, velit ut accusantium molestiae officia animi nesciunt provident, vitae sit. Dolore, expedita alias aliquid consequuntur consectetur doloremque, sit velit distinctio deleniti explicabo autem incidunt atque! Quasi fugit voluptatem quae ipsam sunt et laboriosam ut illum distinctio. Soluta, veniam aut consectetur quas dolorem esse aspernatur modi laudantium cumque architecto delectus nam fugit sunt ratione odio obcaecati? Odit ratione tempore eum sed optio amet! Quos vero neque, numquam, aliquam beatae quam ipsa, quas dignissimos deleniti commodi facilis quae dolorum enim?
    </div>
  </div>
</section>
